In [1]:
#numeric
# integer
a=10
print(a)
print (type(a))

10
<class 'int'>

In [2]:
a=10.0
print (a)
print (type(a))

10.0
<class 'float'>

In [3]:
#string - ordered sequence of character 
#single line denoted by ' ' $ " "
#multiline denoted by "' "'
#index and immutable 
s= ""  #empty string
print (s)
print (type (s))

<class 'str'>

In [4]:
s= "decode"
print (s)
print (type(s))
print (s[0])
s[0]="z"
print (s)

decode
<class 'str'>
d

TypeError: 'str' object does not support item assignment

In [6]:
s= '''   hello
      welcome to
      bhopal 
      guys '''
print(s)

   hello
      welcome to
      bhopal
      guys

In [8]:
#list --collection of elememt 
#it is denoted by [] with csv
#indexed ,ordered,mutuable and hetrogenious in nature 
l=[] # empty list 
print(l)
print(type(l))

[]
<class 'list'>

In [10]:
l=[10,20,30,"decode",10.5]
print(l)
print(l[3]) # index 
l[0] ="bhopal"
print(l)

[10, 20, 30, 'decode', 10.5]
decode
['bhopal', 20, 30, 'decode', 10.5]

In [12]:
#tuple - collection of element 
#denoted by () csv 
#ordered ,index,immutable ,hetrogenios
t=()
print(t)
print(type(t))[]

SyntaxError: invalid syntax (1395013367.py, line 6)