In [2]:
#dictonary
d={}
print(d)
print(type(d))

{}
<class 'dict'>

In [9]:
d={"name":["abc","def","pqr"],"courses":["da","ds","de"] ,"fees" :[23000,34000,30000]}
print(d)

print(d["name"])
d["name"]="xyz"
print(d)
d["Name"]="xyz"
print(d)

{'name': ['abc', 'def', 'pqr'], 'courses': ['da', 'ds', 'de'], 'fees': [23000, 34000, 30000]}
['abc', 'def', 'pqr']
{'name': 'xyz', 'courses': ['da', 'ds', 'de'], 'fees': [23000, 34000, 30000]}
{'name': 'xyz', 'courses': ['da', 'ds', 'de'], 'fees': [23000, 34000, 30000], 'Name': 'xyz'}

In [16]:
l=[1,5,6,4,3,7]
D={}
for i in l :
    D[i]=i*i
print(D)

{1: 1, 5: 25, 6: 36, 4: 16, 3: 9, 7: 49}

In [20]:
l=["red","green","red","yellow","green","red","Yellow"]
d={}
for i in l:
    d[i]=l.count(i)
print(d)

{'red': 3, 'green': 2, 'yellow': 1, 'Yellow': 1}

In [23]:
d={}
for i in range(1,6):
    d[l[i]]=(i+1)**3
print(d)

{'green': 125, 'red': 216, 'yellow': 64}

In [1]:
d={"name":["abc","def","pqr"],"courses":["da","ds","de"] ,"fees" :[23000,34000,30000]}
for i in d:
    print(d[i])

['abc', 'def', 'pqr']
['da', 'ds', 'de']
[23000, 34000, 30000]

In [4]:
d={"name":["abc","def","pqr"],"courses":["da","ds","de"] ,"fees" :[23000,34000,30000]}
for i in d:
    for j in d[i]:
        print(j)

abc
def
pqr
da
ds
de
23000
34000
30000

In [5]:
#methods
#get
#dictobj.get(key)
d={"name":["abc","def","pqr"],"courses":["da","ds","de"] ,"fees" :[23000,34000,30000]}
print(d.get("name"))
for i in d.get("name"):
    print(i)

['abc', 'def', 'pqr']
abc
def
pqr

In [6]:
#keys
#dictobj.keys()
d={"name":["abc","def","pqr"],"courses":["da","ds","de"] ,"fees" :[23000,34000,30000]}
print(d.keys())
for i in d.keys():
    print(i)

dict_keys(['name', 'courses', 'fees'])
name
courses
fees

In [7]:
#values
#dictobj.values()
d={"name":["abc","def","pqr"],"courses":["da","ds","de"] ,"fees" :[23000,34000,30000]}
print(d.values())
for i in d.values():
    print(i)

dict_values([['abc', 'def', 'pqr'], ['da', 'ds', 'de'], [23000, 34000, 30000]])
['abc', 'def', 'pqr']
['da', 'ds', 'de']
[23000, 34000, 30000]

In [8]:
items
dictobj.items()
d={"name":["abc","def","pqr"],"courses":["da","ds","de"] ,"fees" :[23000,34000,30000]}
print(d.items())
for i in d.items():
    print(i)

dict_items([('name', ['abc', 'def', 'pqr']), ('courses', ['da', 'ds', 'de']), ('fees', [23000, 34000, 30000])])
('name', ['abc', 'def', 'pqr'])
('courses', ['da', 'ds', 'de'])
('fees', [23000, 34000, 30000])

In [9]:

d={"name":["abc","def","pqr"],"courses":["da","ds","de"] ,"fees" :[23000,34000,30000]}
print(d.items())
for i ,j in d.items():
    print(i,j)

dict_items([('name', ['abc', 'def', 'pqr']), ('courses', ['da', 'ds', 'de']), ('fees', [23000, 34000, 30000])])
name ['abc', 'def', 'pqr']
courses ['da', 'ds', 'de']
fees [23000, 34000, 30000]

In [11]:
l=[1,1,3,3,3,3,3,4,6,6]
d={}
for i in l:
    for i in d:
        d[i]+=1
    else:
        d[i]=i
print(d)
max_value=max(d.value())
print(max_value)
mode=[i for i,j in d.items() j==max_value]
print(mode)

SyntaxError: invalid syntax (3649647203.py, line 11)

In [1]:
#pop()
d={"name":["abc","def","pqr"],"courses":["da","ds","de"] ,"fees" :[23000,34000,30000]}
print(d.pop("name"))
print(d)

['abc', 'def', 'pqr']
{'courses': ['da', 'ds', 'de'], 'fees': [23000, 34000, 30000]}

In [3]:
d={"name":["abc","def","pqr"],"courses":["da","ds","de"] ,"fees" :[23000,34000,30000]}
print(d["name"].pop())
print(d)

pqr
{'name': ['abc', 'def'], 'courses': ['da', 'ds', 'de'], 'fees': [23000, 34000, 30000]}

In [4]:
#popitem()
#dictobj.popitem
#returs key and value pair in tuple
d={"name":["abc","def","pqr"],"courses":["da","ds","de"] ,"fees" :[23000,34000,30000]}
print(d.popitem())
print(d)

('fees', [23000, 34000, 30000])
{'name': ['abc', 'def', 'pqr'], 'courses': ['da', 'ds', 'de']}

In [6]:
d={"name":["abc","def","pqr"],"courses":["da","ds","de"] ,"fees" :[23000,34000,30000]}
print(d)
print["fees"].sort()
print(d)

{'name': ['abc', 'def', 'pqr'], 'courses': ['da', 'ds', 'de'], 'fees': [23000, 34000, 30000]}

TypeError: 'builtin_function_or_method' object is not subscriptable

In [8]:
#del
d={"name":["abc","def","pqr"],"courses":["da","ds","de"] ,"fees" :[23000,34000,30000]}
del d["name"]
print(d)

{'courses': ['da', 'ds', 'de'], 'fees': [23000, 34000, 30000]}

In [10]:
#clear
d={"name":["abc","def","pqr"],"courses":["da","ds","de"] ,"fees" :[23000,34000,30000]}

d.clear()
print(d)

{}

In [14]:
#ubdate
#dictobj.ubdate(dictionary)
d={"name":["abc","def","pqr"],"courses":["da","ds","de"] ,"fees" :[23000,34000,30000]}
d.update({"city":["jbl","rewa","satna"]})
print(d)

{'name': ['abc', 'def', 'pqr'], 'courses': ['da', 'ds', 'de'], 'fees': [23000, 34000, 30000], 'city': ['jbl', 'rewa', 'satna']}

In [15]:
d={"name":["abc","def","pqr"],"courses":["da","ds","de"] ,"fees" :[23000,34000,30000]}
d.update({"city":["jbl","rewa","satna"]}) #variable created
print(d)

{'name': ['abc', 'def', 'pqr'], 'courses': ['da', 'ds', 'de'], 'fees': [23000, 34000, 30000], 'city': ['jbl', 'rewa', 'satna']}

In [16]:
#dict
d=dict(name=["abc","def","pqr"],city=["jbl","rewa","satna"])
print(d)

{'name': ['abc', 'def', 'pqr'], 'city': ['jbl', 'rewa', 'satna']}

In [ ]:
#dictonary comprehension -to create a new dict in a concise way 
#{k.v looping statement conditional statement }

In [21]:

d={}
for i in range(2,11,2) :
    d[i]=i**2
print(d)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [22]:
#comprehension
print({i:i**2 for i in range (2,11,2)})

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [24]:
l=[2,4,6,8,10]
d={}
for i in l :
    d[i]=i**3
print(d)
print({i:i**3 for i in l })

{2: 8, 4: 64, 6: 216, 8: 512, 10: 1000}
{2: 8, 4: 64, 6: 216, 8: 512, 10: 1000}

In [ ]:
#problem _map numbers to even to odd

In [1]:
l=["data","science","ai","python","data","code","python"]
d={}
for i in l:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

{'data': 2, 'science': 1, 'ai': 1, 'python': 2, 'code': 1}

In [9]:
marks = {
    "Ankit": 90,
    "Ravi": 85,
    "Neha": 90,
    "Aman": 80
}

grouped = {}

for i, j in marks.items():
    if j not in grouped:
        grouped[j] = []
    grouped[j].append(i)

print(grouped)

{90: ['Ankit', 'Neha'], 85: ['Ravi'], 80: ['Aman']}

In [2]:
s = { "S1": {"Python": 70, "SQL": 60, "PowerBI": 40},"S2": {"Python": 85, "SQL": 70, "PowerBI": 30},"S3": {"Python": 60, "SQL": 55, "PowerBI": 50}}

for s, marks in s.items():
    total = sum(marks.values())
    if total < 180:
        marks["Python"] += 5

print(s)

{'S1': {'Python': 75, 'SQL': 60, 'PowerBI': 40}, 'S2': {'Python': 85, 'SQL': 70, 'PowerBI': 30}, 'S3': {'Python': 65, 'SQL': 55, 'PowerBI': 50}}

In [29]:

l = [10, 15, 21, 22, 30, 33, 40]
print({i:("even"  if i%2==0  else "odd") for i in l if i %3==0 })

{15: 'odd', 21: 'odd', 30: 'even', 33: 'odd'}

In [1]:
sales = [ {"product": "Laptop", "amount": 50000}, {"product": "Mobile", "amount": 20000}, {"product": "Laptop", "amount": 55000},{"product": "Tablet", "amount": 15000},
    {"product": "Mobile", "amount": 25000}]

total_sales = {}

for item in sales:
    product = item["product"]
    amount = item["amount"]

    if product in total_sales:
        total_sales[product] += amount
    else:
        total_sales[product] = amount

print(total_sales)

{'Laptop': 105000, 'Mobile': 45000, 'Tablet': 15000}

In [5]:
scores = {
    "Math": 78,
    "Python": 92,
    "SQL": 85,
    "PowerBI": 70
}

min_val = min(scores.values())
max_val = max(scores.values())

normalized = {}

for subject, score in scores.items():
    normalized[subject] = round((score - min_val) / (max_val - min_val), 2)

print(normalized)

{'Math': 0.36, 'Python': 1.0, 'SQL': 0.68, 'PowerBI': 0.0}

In [6]:
docs = {
    1: "Python is great and Python is fast",
    2: "Data science uses Python",
    3: "Python and SQL are powerful"
}

index = {}

for doc_id, text in docs.items():
    words = text.lower().split()
    for word in words:
        if len(word) >= 3:
            if word not in index:
                index[word] = []
            if doc_id not in index[word]:
                index[word].append(doc_id)

print(index)

{'python': [1, 2, 3], 'great': [1], 'and': [1, 3], 'fast': [1], 'data': [2], 'science': [2], 'uses': [2], 'sql': [3], 'are': [3], 'powerful': [3]}

In [7]:
nums = [10, 20, 30, 40, 50]

result = {}

for i in range(len(nums)):
    start = max(0, i - 2)
    window = nums[start:i + 1]
    result[i] = sum(window) / len(window)

print(result)

{0: 10.0, 1: 15.0, 2: 20.0, 3: 30.0, 4: 40.0}