In [1]:
#LIST
l=[]
print(l)
print(type(l))

[]
<class 'list'>

In [11]:
l=[10,20,30,"hello",10.5]
print(l)
print(type(l))
print(l[0])   #indexed
l[0]=1000     #mutable
print(l)

[10, 20, 30, 'hello', 10.5]
<class 'list'>
10
[1000, 20, 30, 'hello', 10.5]

In [16]:
#indexing and slicing
l=[10,20,30,"hello",10.5,1000,200,300,100]
print(l[3])
print(l[3][1])
print(l[-3])
print(l[::-1])
print(l[::])
print(l[:6:2])
print(l[-1:-7:-2])
print(l[-1:7:-2])

hello
e
200
[100, 300, 200, 1000, 10.5, 'hello', 30, 20, 10]
[10, 20, 30, 'hello', 10.5, 1000, 200, 300, 100]
[10, 30, 10.5]
[100, 200, 10.5]
[100]

In [17]:
#direct iteration
l=[10,20,30,"hello",1000,10.5,11] 
for i in l:
    print(i)

10
20
30
hello
1000
10.5
11

In [1]:
#indirect iteration
l=[10,20,30,"hello",1000,10.5,11] 
for i in range(len(l)):
    print(l[i])

10
20
30
hello
1000
10.5
11

In [2]:
#function
# len()
# max()
# min()
l=[10,20,30,"hello",1000,10.5,11] 
print(len(l))
count=0
for i in l:
    count= count+1
print(count)

7
7

In [3]:
#max()
# min()
l=[10,20,30,1000,10.5,11]
print(max(l))
print(min(l))

1000
10

In [6]:
l=[10,20,30,1000,10.5,11]
max_value=l[0]
for i in l:
    if i>max_value:
        max_value=i
print(max_value)

1000

In [7]:
l=[10,20,30,1000,10.5,11]
min_value=l[0]
for i in l:
    if i<min_value:
        min_value=i
print(min_value)

10

In [8]:
l=[10,20,30,1000,10.5,11]
print(sum(l))
sum=0
for i in l:
    sum=sum+i
print(sum)

1081.5
1081.5

# METHODS

In [9]:
#ADD ELEMENT TO AN EXISTING LIST.
# APPEND
# listobj.append(value/obj)
# append method- adds new element at last position.  that is at the index value of -1
l=[10,20,30,"hello",10.5]
l.append(1000)
print(l)

[10, 20, 30, 'hello', 10.5, 1000]

In [10]:
l=[10,20,30,"hello",10.5]
l.append([100,200,300])
print(l)

[10, 20, 30, 'hello', 10.5, [100, 200, 300]]

In [12]:
l=[]
for i in range(5):
    n=int(input("enter any number"))
    l.append(n)
    print(l)
print(l)

enter any number 10

[10]

enter any number 20

[10, 20]

enter any number 30

[10, 20, 30]

enter any number 40

[10, 20, 30, 40]

enter any number 50

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [3]:
l=[100,23,34,11,17,32,35,98,12,7]
l1=[]
l2=[]
for i in l:
    if i%2==0:     #condition for even numbers
        l1.append(i)
    else:
        l2.append(i)
print(l1)    
print(l2)

[100, 34, 32, 98, 12]
[23, 11, 17, 35, 7]

In [4]:
l=[]
for i in range(0,8,2):
    l.append(chr(65+i))
print(l)

['A', 'C', 'E', 'G']

In [2]:
l=[10,20,30,40,[100,200,300,"decode"],1000,2000]
l1=["delhi","mumbai"]
for i in l1:
    l[4].append(i)
print(l)

[10, 20, 30, 40, [100, 200, 300, 'decode', 'delhi', 'mumbai'], 1000, 2000]

In [5]:
#INSERT 
#LISTOBJ.INSERT (POSITION,VALVUE)
l=[10,20,30,"hello",10.5]
l.insert(2,"decode")
print(l)

[10, 20, 'decode', 30, 'hello', 10.5]

In [6]:
#extend
#listobj.extend(iterable)
l=[10,20,30,"hello",10.5]
l.extend([100])
print(l)

[10, 20, 30, 'hello', 10.5, 100]

In [7]:
l=[10,20,30,"hello",10.5]
l.extend(100)
print(l)

TypeError: 'int' object is not iterable

In [8]:
l=[10,20,30,"hello",10.5]
l.extend("decode")
print(l)

[10, 20, 30, 'hello', 10.5, 'd', 'e', 'c', 'o', 'd', 'e']

In [16]:
l=[10,20,30,[1000,2000,["A","B"],3000,10.5,1100],"DECODE"]
L1= ["DELHI","MUMBAI"]
for i in L1:
    l[3][2].append(i)
print(l)

[10, 20, 30, [1000, 2000, ['A', 'B', 'DELHI', 'MUMBAI'], 3000, 10.5, 1100], 'DECODE']

In [24]:
l=[10,20,30,[1000,2000,["A","B"],3000,10.5,1100],"DECODE"]
L1= ["DELHI","MUMBAI"]
for i in L1:
    l[3][2].insert(3,i)
print(l)

[10, 20, 30, [1000, 2000, ['A', 'B', 'DELHI', 'MUMBAI'], 3000, 10.5, 1100], 'DECODE']

In [23]:
l=[10,20,30,[1000,2000,["A","B"],3000,10.5,1100],"DECODE"]
L1= ["DELHI","MUMBAI"]
for i in L1:
    l[3][2].extend([i])
print(l)

[10, 20, 30, [1000, 2000, ['A', 'B', 'DELHI', 'MUMBAI'], 3000, 10.5, 1100], 'DECODE']

In [2]:
l=["NAMAN","DECODE","NITIN","BHOPAL","DATA","MADAM"]
l1=[]
for i in l:
    rev=""
    for j in i:
        rev=j+rev
    if i==rev:
        l1.append(i)
print(l1)

['NAMAN', 'NITIN', 'MADAM']

In [3]:
#d
#pop()
#lISTOBJ.pop (POSITION)
l=[10,20,30,"hello",10.5]
l.pop(2)
print(l)

[10, 20, 'hello', 10.5]

In [12]:
l=[10,20,30,"hello",10.5]
del l[2]
print(l)

[10, 20, 'hello', 10.5]

In [15]:
#remove
#lISTOBJ.remove (value)
l=[10,20,30,"hello",10.5]
l.remove("hello")
print(l)

[10, 20, 30, 10.5]

In [ ]:
#clear

In [6]:
#INDEX
#LISTOBJ.INDEX(VALUE,[START],[STOP])
#BY DEFAULT - O STOP - BY DEFAULT - END OF THE LIST 
l=[10,20,30,"hello",10.5 ,10,20,20,30,20]
print(l.index(10))
print(l.index(10,1))
print(l.index(10,1,8))

0
5
5

In [7]:
#count
#LISTOBJ.count(element)
l=[10,20,30,"hello",10.5 ,10,20,20,30,20]
print(l.count(10))

2

In [8]:
#reverse
#listobj.reverse()
l=[100,10,20,9]
l.reverse()
print(l)

[9, 20, 10, 100]

In [15]:
l=[100,10,20,9]
for i in range(len(l)):
    for j in range (i+1,len(l)):
        l[i],l[j]=l[j],l[i]
        print(l)

[10, 100, 20, 9]
[20, 100, 10, 9]
[9, 100, 10, 20]
[9, 10, 100, 20]
[9, 20, 100, 10]
[9, 20, 10, 100]

In [16]:
# sort 
# #listobj.shot([reverse=false])
l=[100,10,20,9]
l.sort()
print(l)

[9, 10, 20, 100]